body {
	background-image: url(./fotos/fondogaleria.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

#content {
	color: white;
	background-color: black;
	width: 380px;
	margin-left: 25px;
	border-radius: 8px;
}

#pregunta {
	background-color: #C62929;
	width: 100%;
	border-radius: 8px;
}

#letras {
	margin-left: 3px;
}

a{
	text-decoration: none;
}
